meta(charset="UTF-8")
meta(name="viewport", content="width=device-width")
style
  include ../public/stylesheets/style.css
title Thank You
h1 Thanks for the info!
#backbutton
  a(href="http://localhost:3002/new_visit")
    input(type="button", value="Back")